@charset "utf-8";

#teammark{
    display: flex;
}
img{height: 70px;
}
h1{
    font-size: small;
    line-height: 0.01px;
    color:blue
}

#footer{
    background-color: gray;
    text-align: center;
    display: flex;
    font-weight: bold;
    vertical-align: top

}
section{
    display: flex;
    line-height: 0.05pt;
}

p{
    text-align: initial;
}
#tel{

    text-align: initial;
    size: 5px;
}